<!DOCTYPE html>
<html>
    <head>
        <meta content="main" name="layout"/>
        <title>
            SALVE-Sobre
        </title>
    </head>
    <body>
        <!-- view: /views/app/links.gsp -->
        <div class="row align-middle">
            <div class="small-12 columns">
            <h4>Links Úteis</h4>
            
            
            </div>
        </div>
    </body>
</html>
