/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
// font Open Sans Regular
*= require fonts

*= require /openlayers/ol
*= require /openlayers/ol3-contextmenu.min
*= require /openlayers/ol-geocoder.min
*= require /openlayers/ol3Map

*= require /font-awesome-4.7.0/css/font-awesome.min
// foundation css 6.3.1
*= require /foundation/css/foundation.min
*= require /foundation-icons/foundation-icons

// DATATABLE
*= require /jquery/plugins/datatable/datatables.min

*= require /jquery/plugins/tooltipster/css/tooltipster.bundle.min
*= require /jquery/plugins/tooltipster/css/themes/tooltipster-sideTip-green.min
*= require /jquery/plugins/jspanel/jquery.jspanel.min
*= require /select2/css/select2.min
*= require /toastr/toastr.min
// require /jquery/plugins/filestyle/jquery-filestyle.min.css

*= require_self
*/
html,body {
    min-height: 100%;
    height:100%;
    font-size:100%;
    font-family: open_sansregular,"Times New Roman",Helvetica Neue, Helvetica, Roboto, Arial, sans-serif !important;
}

.wrapper {
    width:100%;
    max-width: 100%;
    min-height: 100%;
    height:100%;
}

.mt5{
    margin-top:10px;
}

.mt10{
    margin-top:10px;
}

.header
{
    background-color: #d3e0c6;
    /*border-radius: 10px;*/
    padding-left:10px;
    font-size:1.3rem;
}
.nome-taxon{
    font-size:1.7rem !important;
}

.topic
{
    margin-bottom:8px;
    min-width:100%;
    /*border-bottom:2px solid #1779ba;*/
    border-bottom:2px solid #b8ccda;
    font-weight:bold;
    font-size:1.2rem !important;
}

.text-justify {
    font-size:1.3rem !important;
}

.subtopic
{
    margin-bottom:8px;
    min-width:100%;
}
.subtopic legend
{
    min-width:100%;
    font-width:bold;
    font-size: 1.15rem !important;
    color: #006a00;
    cursor:pointer;
    /*border-bottom:2px solid #006a00;*/
    border-bottom:2px solid #d6e7d6;
}
.subtopic legend:hover
{
    text-decoration: underline;
}

.subtopic textarea
{
    margin-bottom: 5px;
    color: #0f36a0;
}

.label-value {
     font-size:1.2em !important;
}

.label-value span.flabel {
     font-weight:bold;
}

.label-value span.fvalue {

}

.label-required:after {
    color: red !important;
    content: "*";
    padding: 0px 5px;
}

.pointer{
    cursor:pointer;
}

.app-top-bar .title-bar
{
    background-color: #efefef;
    color:#000;
}
.app-top-bar .top-bar
{
    background-color: #fff;

}
.app-top-bar .top-bar .dropdown.menu
{
    background-color: #fff;
}
.menu-icon
{
    background-color: #1779ba;
}

.is-dropdown-submenu-item a:hover
{
    background-color: #1779ba;
    color:white;
}

.nomes-consultas  {
    display:flex;
    flex-direction: row;
    justify-content: center;
    /*align-content: space-between;*/
    /*align-content: space-around;*/
    flex-grow: 1;
    flex-wrap: wrap;
}

.nomes-consultas a {
    background-color: #e4f1eb;
    color: #1d78b9;
    padding:5px;
    margin: 5px;
    transition: background-color 100ms linear;
}
.nomes-consultas a.selected {
    /*background-color: #90ee90;*/
    background-color: #f0c1c1;
    font-weight: bold;
    border-radius: 10px;
}
.nomes-consultas a:hover {
    background-color: #c0efd3;
}

#div-img-top {
   /*background-image: url("/salve-consulta/assets/slider/aguia.jpg");*/
   background-image: url("/salve-consulta/assets/slider/imagem1.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center center;
   height: 250px;
   -webkit-transition: background-image 0.2s ease-in-out;
   -moz-transition: background-image 0.2s ease-in-out;
   -o-transition: background-image 0.2s ease-in-out;
   -ms-transition: background-image 0.2s ease-in-out;
   transition: background-image 0.2s ease-in-out;
}


.page-footer
{
    min-height: 40px;
    background-color:#efefef;
}
.no-padding
{
    padding:0;
}

.no-margin {
    margin:0 !important;
}

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
    border-radius:  0 5000px 5000px 0;
    font-size: 0.8rem;
}

.button{
    margin: 0.7em 0em 1em;
}
.button.primary
{
    background-color:#179ce5;;
}

.button.primary:hover
{
    background-color: #1779ba;
}

.btn-table {
    margin: 0px;
    padding: 5px;
}


.mt1 {
    margin-top:1rem;
}

.row-image-top {
    margin-bottom:20px;
}

.row-image-top div.name-version {
    padding-top: 10px;
}

.row-image-top div.name-version h3 {
    font-size: 20px;
}
.row-image-top div.name-version h4 {
    font-size: 18px;
    color:gray;
}

.row-image-top small {
    color:#c0bfbf;
    font-size: 18px;
}

.row-image-top h3 {
    line-height: 20px;
}

label.error {
    color:#f00;
    margin-top:-18px;
    font-size:0.8em;
}

.hidden {
    display:none;
}
.callout
{
    border-radius: 10px;
}

.callout.alert
{
    color:#ff5858;
}
.callout.success
{
    color:#149E6C;
}

.nowrap
{
    white-space: nowrap;
}

fieldset>legend {
    font-size: 1.6em;
    border-bottom:3px solid #1779ba;
    margin-bottom:5px;
    width:100%;
}

fieldset>legend.sub-legend {
    font-size: 1.4em;
    border-bottom:2px solid #1779ba;
    margin-bottom:5px;
    width:100%;
}

fieldset>legend.sub-legend.pointer:hover {
    text-decoration: underline;
    color:blue;
}

fieldset>legend.sub-legend2 {
    font-size: 1.4em;
    border-bottom:1px solid #1679ba;
    margin-bottom:4px;
    width:100%;
}

fieldset>legend.sub-legend2.pointer:hover {
    text-decoration: underline;
    color:blue;
}

.sub-fieldset
{
    margin-left: 10px;
    font-size: 0.75em;
}

table * {
    font-size:14px;
}

table.table-ficha-completa * {
    font-size:1.2rem !important;
}

td.selected {
    background-color: #90ee90;
}

table tbody td, table tbody th {
    padding: .2rem .0rem .325rem;
}

table tr.hover:hover {
    background-color: #86d4ff;
}


table tfoot td, table tfoot th, table thead td, table thead th {
    padding: .4rem 0rem .425rem;
}

table thead {
    background: #E6F3ED;
    color: #0a0a0a;
}

table.meus-registros {
    font-size:12px !important;
}
table.meus-registros thead tr{
    background-color: #FEF8C3;
}

.table-no-stripped {
    padding: 0rem 0rem !important;
}
.table-no-stripped tbody td {
    padding: 0rem 0rem;
}

.table-stripped tr:nth-of-type(even) {
    background: #E6F3ED;

}

.table-no-stripped tr:nth-of-type(even) {
    background: #ffffff;

}
.original-text
{
    font-size: 1.2rem !important;
}
.original-text *
{
    font-size: 1.2rem !important;
}

.original-text p
{
    line-height: 1.3 !important;
}

.tabs-title>a{
   font-size: 1.3rem;
   font-weight: bold;
   text-decoration: underline;
}
.i-click{
    cursor:pointer;
    color:#1779ba;
}

.breadcrumbs li {
    font-size: 1.345rem;
    color: #1779ba;
    cursor: default;
    text-transform: none;
}


.fldTextarea {
    border: 1px solid #ABABAB;
    resize: vertical !important;
    overflow: auto !important;
}

.div-ref-bib {
    border-bottom:2px dashed green;
    margin-top:10px;
    font-size: 1rem;
}

.bgRed {
    background-color: #ff5858;
}

.bgGreen
{
    background-color: #9FD199;
}

.bgGreen
{

}
.red
{
    color:#ff5858;
}

.green
{
    color:#009231;
}

.blue
{
    color:#3332ED;
}

.pink
{
    color: #b942e2;
}

.yellow
{
    color: #fff31e;
}

.input-filter
{
    font-weight: bold;
    font-size:1.1rem;
}


.fi-page-edit, .fi-page-delete, .fi-map, .fi-arrow-up. fi-arrow-down,.fi-list-thumbnails
{
    font-size : 1.5rem;
}

.fi-info{
    color:blue;
    cursor:pointer;
    font-size:19px;
}

.fi-marker{
    color:#FE7900;
    cursor:pointer;
    font-size:19px;
}

.fi-magnifying-glass
{
    color:#CF8600;
    cursor:pointer;
    font-size:19px;

}

.fi-minus-delete
{
    color:#ff0000;
    border:1px solid #ff5858;
    padding: 0px 3px 0px 3px;
    cursor:pointer;
}

.gride .fi-page-edit
{
    color:#0000ff;
    font-size:19px;
    cursor:pointer;
}

.gride .fi-page-delete
{
    color:#ff0000;
    font-size:19px;
    cursor:pointer;
}

.dropdown-menu
{
    background-color: lightyellow !important;
    font-size:0.8rem;
}

.div-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #0a0a0a;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-height: 35px;
    margin-bottom:5px;
    padding: 2px;
    height: auto;
    overflow: auto;
}

.small-required
{
    color:#FF6464;
    font-size:0.6rem;
    padding:0px 5px;
}
.small
{
    color:#000000;
    font-size:0.6rem;
    padding:0px 5px;
}
.no-wrap
{
    white-space: nowrap;
}

/* configurações do mapa */
.map {
    height:600px;background-color:#efefef;
}
/* mozilla */
.map:-moz-full-screen {
    top:0 !important;
    left:0 !important ;
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important
}


/* crhome */
.map:-webkit-full-screen {
    top:0 !important;
    left:0 !important;
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
}
/* IE */
.map:fullscreen {
    top:0 !important;
    left:0 !important;
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
}

.point-popup {
    width: 300px;
    height:auto;
    font-size: 13px;
    position: absolute;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}


.v-select .dropdown-toggle
{
    border-radius: 0px !important;
}


/** accordion **/

.accordion-title {
    padding: 10px 0px 0px 5px;
    border: 1px solid #e6e6e6;
    background-color:  #e6f3ed;
    }

.accordion-title:focus, .accordion-title:hover {
    background-color:  rgba(148, 213, 183, 0.55);
}

.accordion-title:before {
    margin-top: -0.8rem;
    font-size: 1.8rem;
}

.accordion-content a, .accordion-content p {
    font-size: 16px;
}

.taxonomia-nivel .nivel
{
    background-color: #f0f8ff;
}

.taxonomia-nivel .nome
{
    font-weight: bold;
}

.taxonomia-nivel .specie-photo * {
    font-size:11px !important;
}
.taxonomia-nivel .specie-photo p {
    padding:0px;
    margin:0px;
}

/* botão selecect all do editor */
.mce-i-selectall:before{content:"\e026" !important;}

.tooltip {
    white-space: nowrap;
}

.button-badge {
    position: relative;
    display: inline-block;
    border-radius: .2rem;
    padding: 5px !important;
}

/* botão com indicador no topo a direita */
.button-badge:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.button-badge .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: .8em;}

.button-badge .fa {
    color: white;
}

.dataTables_scroll
{
    border-top: none;
    border-bottom:1px solid silver;
    border-right:1px solid silver;
    border-left:1px solid silver;
}

@media only screen and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
    h3 {
        font-size: 0.5rem !important;
    }
    .row-image-top small {
        font-size: 0.5rem !important;
    }

    div.alert {
        font-size:0.5rem !important;
    }
}


/* ipad - Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    h3 {
        font-size: 0.7rem !important;
    }
    .row-image-top small {
        font-size: 0.7rem !important;
    }
    div.alert {
        font-size:0.7rem !important;
    }
}
