/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require /foundation/css/foundation.min
*= require /foundation-icons/foundation-icons
*= require /jquery/plugins/select2/css/select2.min

*= require_self
*/
html,body
{
    min-height: 100%;
    height:100%;
    font-size:100%;
}

.wrapper
{
    width:100%;
    max-width: 100%;
    min-height: 100%;
    height:100%;

}

.mt5
{
    margin-top:10px;
}
.mt10
{
    margin-top:10px;
}

.header
{
    background-color: yellowgreen;
}

.topic
{
    margin-bottom:8px;
    min-width:100%;
    border-bottom:2px solid #1779ba;
    font-weight:bold;
    font-size:1.2rem;
}
.subtopic
{
    margin-bottom:8px;
    min-width:100%;
}
.subtopic legend
{
    min-width:100%;
    font-width:bold;
    font-size:1.02rem;
    color: #006a00;
    cursor:pointer;
    border-bottom:2px solid #006a00;
}
.subtopic textarea
{
    margin-bottom: 5px;
    color: #0f36a0;
}

.app-top-bar .title-bar
{
    background-color: #efefef;
    color:#000;
}
.app-top-bar .top-bar
{
    background-color: #fff;

}
.app-top-bar .top-bar .dropdown.menu
{
    background-color: #fff;
}
.menu-icon
{
    background-color: #1779ba;
}

.is-dropdown-submenu-item a:hover
{
    background-color: #1779ba;
    color:white;
}

#div-img-top {
   /*background-image: url("/salve-consulta/assets/slider/aguia.jpg");*/
   background-image: url("/salve-consulta/assets/slider/imagem1.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center center;
   height: 250px;
   -webkit-transition: background-image 0.2s ease-in-out;
   -moz-transition: background-image 0.2s ease-in-out;
   -o-transition: background-image 0.2s ease-in-out;
   -ms-transition: background-image 0.2s ease-in-out;
   transition: background-image 0.2s ease-in-out;
}


.page-footer
{
    min-height: 40px;
    background-color:#efefef;
}
.no-padding
{
    padding:0;
}

.no-margin {
    margin:0 !important;
}

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
    border-radius:  0 5000px 5000px 0;
    font-size: 0.8rem;
}

.button{
    margin: 0.7em 0em 1em;
}
.button.primary
{
    background-color:#179ce5;;
}

.button.primary:hover
{
    background-color: #1779ba;
}

.btn-table {
    margin: 0px;
    padding: 5px;
}


.mt1 {
    margin-top:1rem;
}

.row-image-top
{
    margin-bottom:20px;
}

label.error {
    color:#f00;
    margin-top:-18px;
    font-size:0.8em;
}

.hidden {
    display:none;
}

.callout.alert
{
    color:red;
}
.callout.success
{
    color:#149E6C;
}

.nowrap
{
    white-space: nowrap;
}

fieldset>legend {
    font-size: 1.6em;
    border-bottom:3px solid #1779ba;
    margin-bottom:5px;
    width:100%;
}

fieldset>legend.sub-legend {
    font-size: 1.4em;
    border-bottom:2px solid #1779ba;
    margin-bottom:5px;
    width:100%;
}

table tbody td, table tbody th {
    padding: .2rem .625rem .325rem;
}

table tr.hover:hover {
    background-color: #86d4ff;
}

.table-no-stripped {
    padding: 0rem 0rem !important;
}
.table-no-stripped tbody td {
    padding: 0rem 0rem;
}

.table-no-stripped tr:nth-of-type(even) {
    background: #ffffff;

}

.tabs-title>a{
   font-size: 1.3rem;
   font-weight: bold;
   text-decoration: underline;
}
.i-click{
    cursor:pointer;
    color:#1779ba;
}

.breadcrumbs li {
    font-size: 1.345rem;
    color: #1779ba;
    cursor: default;
    text-transform: none;
}

.wysiwyg
{
    height:200px;
}

.fldTextarea {
    border: 1px solid #ABABAB;
    resize: vertical !important;
    overflow: auto !important;
}

.blue {
    color: #000aff !important;
}

.red-dark {
    color: #ff2f2f !important;
}
