.ol-mouse-position {
    right: 58px;
}

.ol-layer-switch input {
    margin:0px;
}
.ol-layer-switch label {
    line-height:normal;
}

/* geocoder */
.ol-geocoder.gcd-gl-container {
    top: 17.3em;
}

.gcd-address, .gcd-road {
    line-height: normal;
}

.ol-geocoder .gcd-gl-expanded {
    width: 24.625em;
}

.ol-geocoder .gcd-gl-input {
    width: 90%;
}

.ol-overlay-container {
    max-width:600px;
    opacity: 0.8;
}

.ol3-popup * {
    font-size: 14px !important;
}

.ol3-popup {
    z-index:1;
    max-width:600px;
    min-width:450px;
    padding: 5px 10px;
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}
.ol3-popup:after, .ol3-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol3-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol3-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol3-popup-content{
    min-height: 277px;
}

.ol3-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
    color:#f00;
}
.ol3-popup-closer:after {
    content: "✖";
}

.ol3-popup-current-item  {
    font-weight: bold;
    font-size: 11px !important;
    padding-top: 5px;
}

.ol3-popup-buttons {

}

.ol3-popup-button {

}

.ol3-popup-select {
    border:1px solid #cacaca;
    background: #eeeeee;
    color:#000;
    width:70px;
    font-size:13px !important;
}

.ol3-popup-select-option {
    cursor:pointer;
}

.ol3-popup-nome-cientifico {
    font-size: 16px !important;
    font-weight: bold;
    color:darkblue;
}

.ol3-popup-subespecie {
    color:darkorange;
}
.ol3-popup-nome-cientifico i {
    font-size: 19px !important;
}

.ol3-popup-base-dados {
    font-size: 17px !important;
}

.ol3-legend-item{
    /*background-color: #02020273 !important;
    color: #f1f1f1 !important;
    */
}

.ol3-popup-text {
    text-align: justify;
    max-height: 100px;
    overflow: auto;
    border: 1px solid #c0c0c0;
    padding: 5px;
    margin-bottom: 0px;
}

.ol3-legend-item .fa {
    /*background-color: #02020273 !important;*/
}
